    .navbar {
        z-index: 1000;
        position: fixed;
        left: 0%;
        right: 0%;
    }
    #ubutton {
        margin-top: 15px;
        text-align: center;
    }
    
    #info {
        text-align: center;
        display: block;
        height: 20px;
        margin-bottom: 20px;
    }
    footer ul li {
        display: inline;
    }
    #cright {
        float: right;
        line-height: 20px;  
        margin-right: 2%;
        color: #AAAAA4
    }
    #rating {
        float: right;
        right: 0%;
    }
    .thumbnail {
        background-color: #000;
    }

    #paging {
        text-align: center;
        position: relative;
        clear: both;
    }

    .hover {
        z-index: 5;
        position:absolute;
        top: 105px;
        background: rgba(0, 0, 0, 0.5); 
        width: 267px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 5px;
    }
