/* CSS */
#message {
	font-family: sans-serif;
	font-weight: bold;
	font-size: large;
	height: 50px;
	width: 500px;
	text-align: center;
	line-height: 25px;
}


#content {
	width: 500px;
	height: 500px;
}

#content img {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	padding: 1px 1px 1px 1px;
}

#actions {
	position: fixed;
	bottom: 0%;
	height: 50px;
	width: 500px;
}

#actions #save {
	display: inline-block;
	height: 25px;
	font-family: sans-serif;
	text-decoration: none;
}

#actions #save:hover {
	background-color: greenyellow;
}

#actions #clear {
	display: inline-block;
	height: 25px;
	font-family: sans-serif;
	color: red;
	text-decoration: none;
	text-align: center;
}

#actions #clear:hover {
	background-color: coral;
}